{
    "overrides": [
        {
            "files": "*.html",
            "options": {
                "tabWidth": 2
            }
        },
        {
            "files": ["*.js", "*.css"],
            "options": {
                "tabWidth": 4
            }
        }
    ]
}