{
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "tabWidth": 2
      }
    },
    {
      "files": ["*.js", "*.css"],
      "options": {
        "singleQuote": true,
        "tabWidth": 4
      }
    }
  ]
}
