textarea {
  font-size: medium;
}
canvas {
  max-width: 80%;
  max-height: 50%;
}

.color-picker input {
  height: 50px;
  padding: 6px;
  border: 2px solid #808080;
  display: flex;
  align-items: center;
  justify-content: center;
}
